inetpub/wwwroot/Services/Components/ComCommon/DAT_BankenLinie_Connector/DAT_BankenLinie_Connector/Web References/de.dat.www.authentication/Authentication.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://sphinx.dat.de/services/Authentication" targetNamespace="http://sphinx.dat.de/services/Authentication" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="doLogin" type="tns:doLogin" />
  <xs:element name="doLoginResponse" type="tns:doLoginResponse" />
  <xs:element name="doLogout" type="tns:doLogout" />
  <xs:element name="doLogoutResponse" type="tns:doLogoutResponse" />
  <xs:complexType name="doLogout">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="doLogoutResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="doLogin">
    <xs:sequence>
      <xs:element name="request" type="tns:doLoginRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="doLoginRequest">
    <xs:sequence>
      <xs:element name="customerLogin" type="xs:string" />
      <xs:element name="customerNumber" type="xs:string" />
      <xs:element name="customerSignature" type="xs:string" />
      <xs:element name="interfacePartnerNumber" type="xs:string" />
      <xs:element name="interfacePartnerSignature" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="doLoginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="sessionID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>