inetpub/wwwroot/KBS/Web References/de.kroschke.sgwt/ServiceData.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://kroschke.de/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://kroschke.de/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://kroschke.de/">
      <s:element name="GetPdf">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="htmlBase64String" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="zoomFaktor" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="orientationLandscape" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPdfResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPdfResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPdfSoapIn">
    <wsdl:part name="parameters" element="tns:GetPdf" />
  </wsdl:message>
  <wsdl:message name="GetPdfSoapOut">
    <wsdl:part name="parameters" element="tns:GetPdfResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceDataSoap">
    <wsdl:operation name="GetPdf">
      <wsdl:input message="tns:GetPdfSoapIn" />
      <wsdl:output message="tns:GetPdfSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceDataSoap" type="tns:ServiceDataSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPdf">
      <soap:operation soapAction="http://kroschke.de/GetPdf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceDataSoap12" type="tns:ServiceDataSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPdf">
      <soap12:operation soapAction="http://kroschke.de/GetPdf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceData">
    <wsdl:port name="ServiceDataSoap" binding="tns:ServiceDataSoap">
      <soap:address location="https://sgwt.kroschke.de/HtmlToPdfService/ServiceData.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceDataSoap12" binding="tns:ServiceDataSoap12">
      <soap12:address location="https://sgwt.kroschke.de/HtmlToPdfService/ServiceData.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>