Work/CarDocu/lib/Web References/de.kroschke.sgw/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://webservices.dad.de/CarDocu/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://webservices.dad.de/CarDocu/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://webservices.dad.de/CarDocu/">
      <s:element name="IsOnline">
        <s:complexType />
      </s:element>
      <s:element name="IsOnlineResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsOnlineResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessArchivMeldung">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="kundennr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="documentID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="standortCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="commaSeparatedDocumentCodes" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessArchivMeldungResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProcessArchivMeldungResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="commaSeparatedReturnCodes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="commaSeparatedReturnMessages" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessVwlKlaerfallMeldung">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="kundennr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="documentID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="standortCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="commaSeparatedDocumentCodes" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessVwlKlaerfallMeldungResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProcessVwlKlaerfallMeldungResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="commaSeparatedReturnCodes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="commaSeparatedReturnMessages" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessWkdaWiesbaden">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="kundennr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="documentID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="standortCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="commaSeparatedDocumentCodes" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessWkdaWiesbadenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProcessWkdaWiesbadenResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="commaSeparatedReturnCodes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="commaSeparatedReturnMessages" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IsOnlineSoapIn">
    <wsdl:part name="parameters" element="tns:IsOnline" />
  </wsdl:message>
  <wsdl:message name="IsOnlineSoapOut">
    <wsdl:part name="parameters" element="tns:IsOnlineResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessArchivMeldungSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessArchivMeldung" />
  </wsdl:message>
  <wsdl:message name="ProcessArchivMeldungSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessArchivMeldungResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessVwlKlaerfallMeldungSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessVwlKlaerfallMeldung" />
  </wsdl:message>
  <wsdl:message name="ProcessVwlKlaerfallMeldungSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessVwlKlaerfallMeldungResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessWkdaWiesbadenSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessWkdaWiesbaden" />
  </wsdl:message>
  <wsdl:message name="ProcessWkdaWiesbadenSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessWkdaWiesbadenResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="IsOnline">
      <wsdl:input message="tns:IsOnlineSoapIn" />
      <wsdl:output message="tns:IsOnlineSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessArchivMeldung">
      <wsdl:input message="tns:ProcessArchivMeldungSoapIn" />
      <wsdl:output message="tns:ProcessArchivMeldungSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessVwlKlaerfallMeldung">
      <wsdl:input message="tns:ProcessVwlKlaerfallMeldungSoapIn" />
      <wsdl:output message="tns:ProcessVwlKlaerfallMeldungSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessWkdaWiesbaden">
      <wsdl:input message="tns:ProcessWkdaWiesbadenSoapIn" />
      <wsdl:output message="tns:ProcessWkdaWiesbadenSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsOnline">
      <soap:operation soapAction="https://webservices.dad.de/CarDocu/IsOnline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessArchivMeldung">
      <soap:operation soapAction="https://webservices.dad.de/CarDocu/ProcessArchivMeldung" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessVwlKlaerfallMeldung">
      <soap:operation soapAction="https://webservices.dad.de/CarDocu/ProcessVwlKlaerfallMeldung" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessWkdaWiesbaden">
      <soap:operation soapAction="https://webservices.dad.de/CarDocu/ProcessWkdaWiesbaden" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsOnline">
      <soap12:operation soapAction="https://webservices.dad.de/CarDocu/IsOnline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessArchivMeldung">
      <soap12:operation soapAction="https://webservices.dad.de/CarDocu/ProcessArchivMeldung" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessVwlKlaerfallMeldung">
      <soap12:operation soapAction="https://webservices.dad.de/CarDocu/ProcessVwlKlaerfallMeldung" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessWkdaWiesbaden">
      <soap12:operation soapAction="https://webservices.dad.de/CarDocu/ProcessWkdaWiesbaden" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost/CarDocu/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost/CarDocu/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>