Work/WebServices/SoapRuecklaeuferschnittstelle/SoapRuecklaeuferschnittstelle/hla-dad_130814.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Ruecklaeuferschnittstelle">
  	<xs:annotation>
	<xs:documentation>pro Vorgang wird ein solches file generiert und ueber die Laufzeit
		mit daten gefuellt. Auftraege von HLA, Rueckmeldungen von DAD</xs:documentation>
	</xs:annotation>
    <xs:complexType>
      <xs:sequence>
      	<xs:element type="xs:dateTime" name="zuletzt_aktualisiert"/>
      	<xs:element name="fehlercode" type="xs:string" />
        <xs:element name="Stammdaten" maxOccurs="1">
		<xs:annotation>
			<xs:documentation>Die Stammdaten werden bei der ersten Beauftragung von HLA gefuellt
			und bleiben ueber die gesamte Laufzeit des Vorgangs unveraendert</xs:documentation>
		</xs:annotation>
          <xs:complexType>
            <xs:sequence>
				<xs:element name="Rueckgabeoption">
					<xs:annotation>
						<xs:documentation>im HLA-system gewählte Rückgabeoption</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Kundennummer">
					<xs:annotation>
						<xs:documentation>Kundennummer im HLA-system</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="7"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Kundenname">
					<xs:annotation>
						<xs:documentation>Kundenname im HLA-system</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Nutzer">
					<xs:annotation>
						<xs:documentation>Name des Fahrers</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>				
				<xs:element name="Vertragsnummer">
					<xs:annotation>
						<xs:documentation>Vertragsnummer im HLA-system</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="7"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Kennzeichen">
					<xs:annotation>
						<xs:documentation>Amtl. KFZ-Kennzeichen</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="12"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Fahrgestellnummer">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="17"/>
							<xs:pattern value="[A-Z0-9]{0,17}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element type="xs:date" name="Erstzulassung">
					<xs:annotation>
						<xs:documentation>Datum der ersten Zulassung. Format: YYYY-MM-DD.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Hersteller">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Serie">
					<xs:annotation>
						<xs:documentation>Spezifische Modell- bzw. Verkaufsbezeichnung des Fahrzeuges, z.B. "A3 2.0 TDI Sportback DPF Amibtion".</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="250"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Treibstoffart">
					<xs:annotation>
						<xs:documentation>Treibstoffart , z.B. Diesel oder Benzin.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Aufbauart">
					<xs:annotation>
						<xs:documentation>Aufbauart des Fahrzeuges, z.B. Kombi oder Limousine.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Leistung">
					<xs:annotation>
						<xs:documentation>Motorleistung in kw.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:positiveInteger">
							<xs:minInclusive value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>				
				<xs:element type="xs:integer" name="Winterreifen">
					<xs:annotation>
						<xs:documentation>Kennzeichnung ob der Service "Winterreifen" im Vertrag abgeschlossen ist. Falls ja müssen diese bei Rückgabe ebenfalls zurück gegeben werden
						0 = Nein, 1 = Ja</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Abholung" maxOccurs="1">
           <xs:complexType>
            <xs:sequence>
              <xs:element name="Abholauftrag">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:dateTime" name="zuletzt_aktualisiert"/>                    
                    <xs:element type="xs:string" name="Transportart"/>
					<xs:element type="xs:date" name="Datum_von"/>
                    <xs:element type="xs:date" name="Datum_bis"/>
                    <xs:element type="xs:string" name="Bemerkung"/>
                    <xs:element name="Adressen">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Abholort">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="Firma"/>
                                <xs:element type="xs:string" name="Strasse"/>
                                <xs:element name="Postleitzahl">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="5"/>
											<xs:pattern value="[0-9]{5}"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
                                <xs:element type="xs:string" name="Ort"/>
                                <xs:element type="xs:string" name="Ansprechpartner"/>
                                <xs:element type="xs:string" name="Telefon"/>
                                <xs:element type="xs:string" name="Email"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Zielort">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="Firma"/>
                                <xs:element type="xs:string" name="Strasse"/>
                                <xs:element name="Postleitzahl">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="5"/>
											<xs:pattern value="[0-9]{5}"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
                                <xs:element type="xs:string" name="Ort"/>
                                <xs:element type="xs:string" name="Ansprechpartner"/>
                                <xs:element type="xs:string" name="Telefon"/>
                                <xs:element type="xs:string" name="Email"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
			  <xs:element name="Abholtermin_bestaetigt">
				<xs:complexType>
					<xs:sequence>
						<xs:element type="xs:dateTime" name="zuletzt_aktualisiert"/>
						<xs:element type="xs:date" name="Bestaetigter_Abholtermin"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Eingang_Zielort">
                <xs:complexType>
                  <xs:sequence>
					<xs:element type="xs:dateTime" name="zuletzt_aktualisiert"/>
                    <xs:element type="xs:date" name="Datum"/>
                    <xs:element type="xs:string" name="Firma"/>
                    <xs:element type="xs:string" name="Strasse"/>
					<xs:element name="Postleitzahl">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="5"/>
								<xs:pattern value="[0-9]{5}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
                    <xs:element type="xs:string" name="Ort"/>
                    <xs:element type="xs:string" name="Ansprechpartner"/>
                    <xs:element type="xs:string" name="Telefon"/>
                    <xs:element type="xs:string" name="Email"/>
                    <xs:element type="xs:string" name="Protokoll_Abholung"/>
                    <xs:element type="xs:string" name="Protokoll_Zielort"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Rueckgabeprotokoll" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
            <xs:element type="xs:dateTime" name="zuletzt_aktualisiert"/>
              <xs:element type="xs:date" name="Eingangsdatum"/>
              <xs:element type="xs:date" name="Ruecknahmedatum"/>
              <xs:element type="xs:string" name="Ruecknahmezeit"/>
              <xs:element type="xs:string" name="Ruecknahmeort"/>
              <xs:element type="xs:string" name="Standort"/>
              <xs:element type="xs:positiveInteger" name="KM-stand_Ruecknahme"/>
              <xs:element type="xs:positiveInteger" name="KM-stand_nachTransfer"/>
              <xs:element type="xs:boolean" name="ZB1"/>
              <xs:element type="xs:boolean" name="Serviceheft"/>
              <xs:element type="xs:boolean" name="GueltigeHU"/>
              <xs:element type="xs:boolean" name="Radio-Code-Karte"/>
              <xs:element type="xs:boolean" name="NaviCD_DVD"/>
              <xs:element type="xs:boolean" name="Bordwerkzeug"/>
              <xs:element type="xs:boolean" name="Reserverad"/>
              <xs:element type="xs:boolean" name="Reifen-Reparatur-Set"/>
              <xs:element type="xs:boolean" name="Laderaumabdeckung"/>
              <xs:element type="xs:string" name="Ruecknahme_unter_Vorbehalt_Grund"/>
              <xs:element type="xs:boolean" name="Ruecknahmeschaeden_innen"/>
              <xs:element type="xs:boolean" name="Ruecknahmeschaeden_aussen"/>
              <xs:element type="xs:string" name="Bemerkung"/>
              <xs:element type="xs:string" name="Protokoll_Abholung"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
		<xs:element name="Stilllegung_erfolgt" maxOccurs="1">
			<xs:complexType>
				<xs:sequence>
					<xs:element type="xs:dateTime" name="zuletzt_aktualisiert"/>
					<xs:element type="xs:date" name="Stilllegungstermin"/>
				</xs:sequence>
			</xs:complexType>
        </xs:element>
        <xs:element name="Aufbereitung" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Aufbereitungsauftrag">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:dateTime" name="zuletzt_aktualisiert"/>
                    <xs:element type="xs:date" name="Datum"/>
                    <xs:element type="xs:string" name="Bemerkung"/>
                    <xs:element name="Reparaturen">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Position" maxOccurs="unbounded" minOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="Code"/>
                                <xs:element type="xs:string" name="Bezeichnung"/>
								<xs:element type="xs:string" name="Massnahme"/>
                                <xs:element type="xs:decimal" name="Reparaturkosten"/>
                                <xs:element type="xs:string" name="Typ" />	
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
			  <xs:element name="Aufbereitung_erfolgt">
				<xs:complexType>
					<xs:sequence>
						<xs:element type="xs:dateTime" name="zuletzt_aktualisiert"/>
						<xs:element type="xs:date" name="Aufbereitet_am"/>
					</xs:sequence>
				</xs:complexType>
			  </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Verwertung" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Verwertungsentscheidung">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:dateTime" name="zuletzt_aktualisiert"/>
                    <xs:element type="xs:string" name="Entscheidung" />
                    <xs:element type="xs:string" name="Verkaufskanal" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Fahrzeug_eingestellt">
                <xs:complexType>
                  <xs:sequence>
					<xs:element type="xs:dateTime" name="zuletzt_aktualisiert"/>
                    <xs:element type="xs:positiveInteger" name="Angebotsnummer"/>
                    <xs:element type="xs:anyURI" name="link"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Transport" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Transportauftrag">
                <xs:complexType>
                  <xs:sequence>
		<xs:element type="xs:dateTime" name="zuletzt_aktualisiert"/>
                    <xs:element type="xs:string" name="Transportart"/>
                    <xs:element type="xs:date" name="Datum_von"/>
                    <xs:element type="xs:date" name="Datum_bis"/>
                    <xs:element type="xs:string" name="Bemerkung"/>
                    <xs:element type="xs:long" name="Nummer"/>
                    <xs:element name="Adressen">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Abholort">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="Firma"/>
                                <xs:element type="xs:string" name="Strasse"/>
								<xs:element name="Postleitzahl">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="5"/>
											<xs:pattern value="[0-9]{5}"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element type="xs:string" name="Ort"/>
                                <xs:element type="xs:string" name="Ansprechpartner"/>
                                <xs:element type="xs:string" name="Telefon"/>
                                <xs:element type="xs:string" name="Email"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Zielort">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="Firma"/>
                                <xs:element type="xs:string" name="Strasse"/>
								<xs:element name="Postleitzahl">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="5"/>
											<xs:pattern value="[0-9]{5}"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
                                <xs:element type="xs:string" name="Ort"/>
                                <xs:element type="xs:string" name="Ansprechpartner"/>
                                <xs:element type="xs:string" name="Telefon"/>
                                <xs:element type="xs:string" name="Email"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Abholtermin_bestaetigt">
				<xs:complexType>
					<xs:sequence>
						<xs:element type="xs:dateTime" name="zuletzt_aktualisiert"/>
						<xs:element type="xs:date" name="Bestaetigter_Abholtermin"/>
					</xs:sequence>
				</xs:complexType>
			  </xs:element>
              <xs:element name="Eingang_Zielort">
                <xs:complexType>
                  <xs:sequence>
					<xs:element type="xs:dateTime" name="zuletzt_aktualisiert"/>
                    <xs:element type="xs:date" name="Datum"/>
                    <xs:element type="xs:string" name="Firma"/>
                    <xs:element type="xs:string" name="Strasse"/>
					<xs:element name="Postleitzahl">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="5"/>
								<xs:pattern value="[0-9]{5}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
                    <xs:element type="xs:string" name="Ort"/>
                    <xs:element type="xs:string" name="Ansprechpartner"/>
                    <xs:element type="xs:string" name="Telefon"/>
                    <xs:element type="xs:string" name="Email"/>
                    <xs:element type="xs:string" name="Protokoll_Abholung"/>
                    <xs:element type="xs:string" name="Protokoll_Zielort"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
		<xs:element name="Prozessende" maxOccurs="1">
			<xs:complexType>
				<xs:sequence>
					<xs:element type="xs:dateTime" name="zuletzt_aktualisiert"/>
					<xs:element type="xs:integer" name="vorgang_abgeschlossen" default="0"/>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
      </xs:sequence>
       <xs:attribute name="vorgangsid" type="xs:long" use="required"/> 
    </xs:complexType>
  </xs:element>
</xs:schema>